<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <!--link rel="stylesheet" href="/css/style.css" -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7CVZFHKDFN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-7CVZFHKDFN');
    </script>
  </head>
  <body>
    <!-- nav>
      <a href="/">Home</a>
      <a href="/blog/">Blog</a>
    </nav -->
    <h1>{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>
    <footer>
      &copy; Alexus
    </footer>
  </body>
</html>
